<%- include partials/header.ejs %>

<div class="jumbotron">
  <div class="input-container">
      <h1 class="display-4">Prime Mobiles</h1>
      <div class="lead">
          <label for="balanceDisplay">My Metamask Account Balance:</label>
          <span id="balanceDisplay">Loading...</span>
      </div>
  </div>
  <hr class="my-4">
  <div id="demo" class="carousel slide" data-ride="carousel">
      <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
      </ul>
      <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="images/smartphone.jpg" alt="slide one" width="500" height="200">
              <div class="carousel-caption">
                  <h3>World of Mobiles</h3>
              </div>
          </div>
          <div class="carousel-item">
              <img src="images/shop.jpg" alt="slide two" width="500" height="200">
              <div class="carousel-caption">
                  <h3>Your Shopping & Your Orders</h3>
              </div>
          </div>
          <div class="carousel-item">
              <img src="images/bitcoin.jpg" alt="slide three" width="500" height="200">
              <div class="carousel-caption">
                  <h3>Pay with your Bitcoin</h3>
              </div>
          </div>
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
          </a>
      </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.3.0/web3.min.js"></script>


<style>
    .campaign-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .campaign-item {
        width: 30%;
        margin-bottom: 20px;
    }

	label {
        display: block;
        margin-top: 10px;
    }

	.payment-btn {
        background-color: #28a745; /* Green color */
        border: none;
        color: #fff;
        border-radius: 5px;
        font-size: 16px;
        padding: 10px;
        cursor: pointer;
    }

    .phone-container {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; 
    }
    
    .phone-item {
        width: 30%;
        margin-bottom: 20px; 
    }
    
    .phone-item img {
        max-width: 70%; 
        height: auto; 
    }

    .input-container {
            display: inline-block;
            margin-right: 20px; 
    }

    .jumbotron {
        position: relative;
    }

    .metamask-info {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 1000;
    }
    .carousel-item {
        text-align: center; 
    }

    .carousel-inner img {
      display: block;
      width: 60%;
      margin: auto;
      height: auto;
    }
    .lead {
        text-align: left;
    }
</style>

<%- include partials/footer.ejs %>
