<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel='stylesheet' href='/stylesheets/otherstyle.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.7-rc.0/web3.min.js"></script>
    
    
  </head>

<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">Sign In with MetaMask</h1>
        <p class="lead">Connect your MetaMask wallet to sign in</p>
    </div>
    <hr class="my-4">
    <p class="lead">
        <button class="btn btn-success btn-lg" onclick="connectMetaMask()" role="button">Sign In with MetaMask</button>
    </p>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="images/cryptocurrency.jpg" alt="slide one" width="1000" height="700">
            <div class="carousel-caption">
                <h3>Smart Contract on Blockchain for Payment</h3>
            </div>
        </div>
    </div>    
</div>


<script>
    const connectMetaMask = async () => {
        try {
            // Request MetaMask account access
            const accounts = await ethereum.request({ method: 'eth_requestAccounts' });

            // Account connected successfully
            const connectedAccount = accounts[0];
            console.log(`Connected to MetaMask with account: ${connectedAccount}`);

            // Set a session storage flag to indicate successful login
            sessionStorage.setItem('isLoggedIn', 'true');

            // Redirect to the index page (you can change the URL as needed)
            window.location.href = '/';
        } catch (error) {
            console.error('Error connecting to MetaMask:', error);
        }
    }
</script>

<%- include partials/footer.ejs %>
